[project]
	description = [angular, js, directives]
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matt Sullivan (sully1313)
[access "refs/for/refs/*"]
	read = group user/Matt Sullivan (sully1313)
	push = group user/Matt Sullivan (sully1313)
	label-Code-Review = -2..+2 group user/Matt Sullivan (sully1313)
	label-Verified = -1..+1 group user/Matt Sullivan (sully1313)
	rebase = group user/Matt Sullivan (sully1313)
	removeReviewer = group user/Matt Sullivan (sully1313)
	submit = group user/Matt Sullivan (sully1313)
[access "refs/heads/*"]
	read = group user/Matt Sullivan (sully1313)
	create = group user/Matt Sullivan (sully1313)
	push = +force group user/Matt Sullivan (sully1313)
	pushMerge = group user/Matt Sullivan (sully1313)
[access "refs/tags/*"]
	push = group user/Matt Sullivan (sully1313)
	push = +force group user/Matt Sullivan (sully1313)
